small {
  display: block;
  text-align: center;
  margin: 0 auto;
  color: #1b3745;
}
.githubLink {
  color: #1b3745;
  text-decoration: none;
}
.githubLink:hover {
  text-decoration: underline;
  color: #1b3745;
}
