.search-wrap {
  margin-bottom: 20px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}
.form-control {
  border-color: #1b3745;
}
.form-control:focus {
  border-color: #96aab3;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #1b3745;
  background-color: rgba(150, 170, 179, 0.1);
}
.btn {
  color: #1b3745;
  border-color: #1b3745;
  box-shadow: none;
}
.btn:hover {
  color: white;
  border-color: #1b3745;
  background-color: #1b3745;
}
.btn:focus {
  background-color: transparent;
  color: #1b3745;
  border-color: #1b3745;
  box-shadow: none;
  outline: none;
}

/* Weather CSS */
.weather-wrap {
  color: #1b3745;
  padding-top: 20px;
  padding-bottom: 30px;
  text-align: center;
}
h1 {
  font-size: 40px;
}
.units {
  position: relative;
  font-size: 20px;
  top: -15px;
}

img {
  height: 100px;
  width: 100px;
}
h2 {
  margin-bottom: 0;
  font-size: 20px;
}
ul {
  margin-bottom: 0;
  list-style-type: none;
  padding-left: 0;
}
.date {
  color: #1b3745;
  text-align: right;
  font-size: 13px;
  margin-right: 25px;
}
